.section {
    height: 100vh;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
    border-bottom: 1px solid #ddd;
    flex-direction: column;
  }